<a href="https://colab.research.google.com/github/nikolinka/app_in_google_colab/blob/main/sber.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 3.1 && 3.2
from google.colab import drive
import sqlite3

drive.mount('/content/drive')
path = "\content\drive\mydatabase.db"
conn = sqlite3.connect(path)

cursor = conn.cursor()

cursor.execute("CREATE TABLE trip (id INTEGER PRIMARY KEY AUTOINCREMENT, plane varchar, town_to text, town_from text)")
conn.commit()
cursor.execute("CREATE TABLE passenger (id INTEGER PRIMARY KEY AUTOINCREMENT, name text, surname varchar, weight_luggage float)")
conn.commit()
cursor.execute("CREATE TABLE ticket (id INTEGER PRIMARY KEY AUTOINCREMENT, gate varchar, row text, place text, date date)")
conn.commit()

In [ ]:
# Запись данные успешна
cursor.execute('Select * from trip')
data_trip = cursor.fetchall()
conn.commit()
print(data_trip)

cursor.execute('Select * from passenger')
data_pas = cursor.fetchall()
conn.commit()
print(data_pas)

cursor.execute('Select * from ticket')
data_tic = cursor.fetchall()
conn.commit()
print(data_tic)

[]
[]
[]

In [ ]:
# 3.3
import random
import string
from datetime import date, timedelta
import numpy as np

start_date = date(2000, 6, 3)
final_date = date(2020, 7, 1)

town_to = ['Mos', 'Ekb', 'SnP', 'Nsk', 'Klg' ]
town_from = ['NYk', 'Ant', 'Oslo', 'Mrd', 'lol']

def random_date(start_date, final_date):
  delta = final_date - start_date
  randays = random.randint(1, delta.days)
  dates = start_date + timedelta(days = randays)
  return dates

def random_string(length):
    return ''.join(
        random.choices(
            string.ascii_letters + string.digits,
            k=length))

def random_name(length):
    return ''.join(
        random.choices(
            string.ascii_letters,
            k=length))

for i in range(11):
  data_trip= [random_string(6), random.choice(town_to), random.choice(town_from)]
  print(data_trip)
  query = 'INSERT INTO trip (plane, town_to, town_from) VALUES (?, ?, ?)'
  cursor.execute(query, data_trip)
  data_pas= [random_name(6),random_name(6), round(0.2*random.randint(2, 23), 2)]
  print(data_pas)
  query = 'INSERT INTO passenger ( name, surname, weight_luggage) VALUES (?, ?, ?)'
  cursor.execute(query, data_pas)
  conn.commit()
  data_tic= [random.randint(1, 20), random.randint(1, 30), random.choice(('A', 'B', 'C', 'D', 'E', 'F')), random_date(start_date, final_date)]
  query = "INSERT INTO ticket (gate, row, place, date) VALUES (?, ?, ?, ?)"
  cursor.execute(query, data_tic)
  print(data_tic)
  conn.commit()

['O1fZEC', 'SnP', 'Ant']
['mZGJIu', 'JQfsPw', 2.4]
[15, 4, 'F', datetime.date(2006, 6, 1)]
['7ZsTxx', 'SnP', 'NYk']
['KjSuhm', 'MnsYEk', 2.4]
[3, 6, 'A', datetime.date(2001, 5, 3)]
['FbRlhO', 'Nsk', 'Oslo']
['nBpPuF', 'pyKcwP', 2.6]
[15, 19, 'F', datetime.date(2003, 1, 17)]
['lhT78r', 'Nsk', 'lol']
['lfFfra', 'KVeXJw', 3.4]
[10, 18, 'D', datetime.date(2007, 10, 4)]
['3tFQ5X', 'Ekb', 'lol']
['EwsrFT', 'nIFcqG', 3.4]
[1, 26, 'C', datetime.date(2016, 6, 14)]
['mVaEWu', 'Ekb', 'NYk']
['bQlZXL', 'nEaaOe', 3.0]
[3, 12, 'A', datetime.date(2007, 5, 4)]
['mP1Kdr', 'Mos', 'Mrd']
['aQQKeq', 'xoQuIn', 1.8]
[17, 26, 'E', datetime.date(2015, 8, 3)]
['mpeDpK', 'Klg', 'lol']
['PDitgp', 'JyaQSp', 4.4]
[12, 13, 'F', datetime.date(2004, 6, 12)]
['zIYc2h', 'Mos', 'Ant']
['sfhvfT', 'kFtTRB', 2.6]
[12, 24, 'D', datetime.date(2018, 4, 12)]
['f7zYt1', 'SnP', 'Mrd']
['yksqkk', 'IsFzBa', 2.2]
[14, 18, 'D', datetime.date(2004, 11, 28)]
['eWFdht', 'Klg', 'Ant']
['dCdDQJ', 'KGtktk', 3.4]
[9, 11, 'C', datetime.date(2005, 7, 9)]

In [ ]:
# Запись данные успешна
cursor.execute('Select * from trip')
data_trip = cursor.fetchall()
conn.commit()
print(data_trip)

cursor.execute('Select * from passenger')
data_pas = cursor.fetchall()
conn.commit()
print(data_pas)

cursor.execute('Select * from ticket')
data_tic = cursor.fetchall()
conn.commit()
print(data_tic)

[(1, 'O1fZEC', 'SnP', 'Ant'), (2, '7ZsTxx', 'SnP', 'NYk'), (3, 'FbRlhO', 'Nsk', 'Oslo'), (4, 'lhT78r', 'Nsk', 'lol'), (5, '3tFQ5X', 'Ekb', 'lol'), (6, 'mVaEWu', 'Ekb', 'NYk'), (7, 'mP1Kdr', 'Mos', 'Mrd'), (8, 'mpeDpK', 'Klg', 'lol'), (9, 'zIYc2h', 'Mos', 'Ant'), (10, 'f7zYt1', 'SnP', 'Mrd'), (11, 'eWFdht', 'Klg', 'Ant')]
[(1, 'mZGJIu', 'JQfsPw', 2.4), (2, 'KjSuhm', 'MnsYEk', 2.4), (3, 'nBpPuF', 'pyKcwP', 2.6), (4, 'lfFfra', 'KVeXJw', 3.4), (5, 'EwsrFT', 'nIFcqG', 3.4), (6, 'bQlZXL', 'nEaaOe', 3.0), (7, 'aQQKeq', 'xoQuIn', 1.8), (8, 'PDitgp', 'JyaQSp', 4.4), (9, 'sfhvfT', 'kFtTRB', 2.6), (10, 'yksqkk', 'IsFzBa', 2.2), (11, 'dCdDQJ', 'KGtktk', 3.4)]
[(1, '15', '4', 'F', '2006-06-01'), (2, '3', '6', 'A', '2001-05-03'), (3, '15', '19', 'F', '2003-01-17'), (4, '10', '18', 'D', '2007-10-04'), (5, '1', '26', 'C', '2016-06-14'), (6, '3', '12', 'A', '2007-05-04'), (7, '17', '26', 'E', '2015-08-03'), (8, '12', '13', 'F', '2004-06-12'), (9, '12', '24', 'D', '2018-04-12'), (10, '14', '18', 'D', '2004-11-28'), (11, '9', '11', 'C', '2005-07-09')]

In [ ]:
# Для реализации оконного приложения сразу в Google Colab
!pip install ipywidgets

In [ ]:
# 3.4 - DF (data Frame)
import pandas as pd

cursor.execute("SELECT plane, town_to, town_from FROM trip")
columns = [column[0] for column in cursor.description]
rows = cursor.fetchall()
data_trip =  {column: [row[i] for row in rows] for i, column in enumerate(columns)}
data_trip =  pd.DataFrame(data_trip)

cursor.execute("SELECT name, surname, weight_luggage FROM passenger")
columns = [column[0] for column in cursor.description]
rows = cursor.fetchall()
data_pas = {column: [row[i] for row in rows] for i, column in enumerate(columns)}
data_pas =  pd.DataFrame(data_pas)

cursor.execute("SELECT gate, row, place, date FROM ticket")
columns = [column[0] for column in cursor.description]
rows = cursor.fetchall()
data_tic = {column: [row[i] for row in rows] for i, column in enumerate(columns)}
data_tic =  pd.DataFrame(data_tic)

Data = data_trip.join([data_pas, data_tic])
print(Data)

     plane town_to town_from    name surname  weight_luggage gate row place  \
0   O1fZEC     SnP       Ant  mZGJIu  JQfsPw             2.4   15   4     F
1   7ZsTxx     SnP       NYk  KjSuhm  MnsYEk             2.4    3   6     A
2   FbRlhO     Nsk      Oslo  nBpPuF  pyKcwP             2.6   15  19     F
3   lhT78r     Nsk       lol  lfFfra  KVeXJw             3.4   10  18     D
4   3tFQ5X     Ekb       lol  EwsrFT  nIFcqG             3.4    1  26     C
5   mVaEWu     Ekb       NYk  bQlZXL  nEaaOe             3.0    3  12     A
6   mP1Kdr     Mos       Mrd  aQQKeq  xoQuIn             1.8   17  26     E
7   mpeDpK     Klg       lol  PDitgp  JyaQSp             4.4   12  13     F
8   zIYc2h     Mos       Ant  sfhvfT  kFtTRB             2.6   12  24     D
9   f7zYt1     SnP       Mrd  yksqkk  IsFzBa             2.2   14  18     D
10  eWFdht     Klg       Ant  dCdDQJ  KGtktk             3.4    9  11     C

          date
0   2006-06-01
1   2001-05-03
2   2003-01-17
3   2007-10-04
4   2016-06-14
5   2007-05-04
6   2015-08-03
7   2004-06-12
8   2018-04-12
9   2004-11-28
10  2005-07-09

In [ ]:
# 3.4 - 3.6
import ipywidgets as widgets
from IPython.display import display

def update_table():
    with output:
        output.clear_output()
        select_col = [col for col, checkbox in checkboxes.items() if checkbox.value]
        filtered_Data = Data[select_col]
        display(filtered_Data)

def on_checkbox_change(change):
    update_table()

def on_export_button_clicked(b):
    selected_columns = [col for col, checkbox in checkboxes.items() if checkbox.value]
    filtered_Data = Data[selected_columns]
    file_name = "filtered_data.xlsx"
    filtered_Data.to_excel(file_name, index=False)
    print(f"Данные успешно сохранены в файл: {file_name}")

checkboxes = {col: widgets.Checkbox(value=True, description=col) for col in Data.columns}
button = widgets.Button(description="Экспорт")
button.on_click(on_export_button_clicked)

for checkbox in checkboxes.values():
    checkbox.observe(on_checkbox_change, names='value')

output = widgets.Output()
update_table()
display(widgets.HBox([checkboxes[col] for col in checkboxes]))
display(output)
display(button)